.login-popup-title-description {
    color: #515863;
    font-size: 14px;
    text-shadow: 0 1px rgba(255,255,255, 0.5);
    padding: 3px 0 10px;
}
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}
.bs-callout-danger h4 {
    color: #d9534f
}

.notifications-all {
    top: 30px;
    right: 10px;
    position: absolute;
}

.notifications-w {
    z-index: 9999;
    position: fixed;
    /* bottom: 70px; */
    right: 10px;
    visibility: visible;
    /* opacity: 0; */
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.notifications-w .notifications-i {
    background-color: #fff;
    box-shadow: 0 2px 40px 0 rgba(43, 132, 210, 0.41);
    border-radius: 10px;
    width: 320px;
    position: relative;
}

.notifications-w .chat-head {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
